body {
  font-family: "Montserrat";
}


h1 ,h2 , h3,h4,h5,h6{
    font-family: 'Montserrat-Black', sans-serif;
}

p {
  color: #8f8f8f
}
.big-heading{
   font-size: 3.5rem;
   line-height: 1.5;
}
.sectiom-heading{
  font-size:3.5rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Title Nvabar */
.navbar {
  padding: 0 0 4.2rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* download-buttons */
.download-buttons {
  margin: 5% 3% 5% 0;
}

/* title-image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.feature-title{
  font-size: 1.5rem;
}

.features-icon {
  /* text-align: center; */
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-div {
  text-align: center;
  padding: 5%;
}

/* testimonials Section*/
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #ffff;
}

.testimonials-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
.testimonial-text{

}

#press {
  background-color: #ff4c68;
  padding: 3%;
  text-align: center;
}

.img-press {
  width: 15%;
  margin: 20px 20px 20px;
}

.carousel-item {
  padding: 7% 15%;
}

.btn {
  padding: 0 1px 2px 0px;
}

/* Media query */
@media (max-width: 1020px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

.clm_pricing {
  padding: 3% 2%;
}
.price-text{
  line-height: 1.5;
  font-size: 3rem;
}

/* cta */
#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 7% 15%;
}

.cta-hading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer */
#footer {
  text-align: center;
  padding: 7% 15%;
}

.ft-icon {
  padding: 3%;
}
